.about-us-container {
  text-align: center;
  padding: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  flex: 1 0 calc(25% - 40px); /* Each team member takes up 25% of the width with a gap of 20px */
  max-width: calc(25% - 40px); /* Maximum width for each team member */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width: auto;
  height: 10vh;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  color: #666;
}

.gulsparv-cta-container {
  padding-top: 4vh;
}

.gulsparv-cta {
  font-size: 4vh;
  color: black;
  text-decoration: none;
  transition: font-size 0.3s ease, color 0.3s ease; /* Transition effect for smooth animation */
}

.gulsparv-cta:hover {
  font-size: 5vh;
  color:  #418d3d;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .team-member {
    flex-basis: calc(50% - 40px); /* Each team member takes up 50% of the width with a gap of 20px */
    max-width: calc(50% - 40px); /* Maximum width for each team member */
  }
}
