@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=ABeeZee&family=ABeeZee&display=swap");

/* App CSS */
/* plants in the same letter category */
.plants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* plant name + image */
.plant {
  padding-right: 3vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

#app-main {
  background-color: #f8fbfc;
}

body {
  font-family: ABeeZee;
}

.logo {
  text-align: left;
  font-size: 1.5vw;
  font-weight: bolder;
  padding: 15px;
  margin-bottom: 5px;
  padding-left: 1vw;
  border: 0;
}

.icon {
  height: 1.5vw;
  width: 1.5vw;
  padding-right: 0.75vw;
}

.icon#home {
  padding-right: 1vb;
}

.plant-image {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
}

.plant-image:hover {
  cursor: pointer;
  transition: 300ms ease;
  width: 120px;
  height: 120px;
}

/* App.css */

/* Modal styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}

.modal-content {
  background-color: #f8fbfc;
  padding: 20px;
  border-radius: 5px;
}

.modal button {
  background-color: #bfdb9d;
  font-family: ABeeZee;
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 18px;
  text-align: center;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: rgb(138, 165, 118);
}

.modal button:focus {
  background-color: rgb(138, 165, 118);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.intro-section {
  text-align: center;
  padding: 20px;
  font-family: "VT323";
}

.image-section {
  padding-bottom: 4vh;
  height: 96vh;
  min-height: fit-content;
  position: relative;
  text-align: center;
}

.frontimage {
  width: 100%;
  height: 60vh;
  max-width: 1;
  object-fit: cover;
  padding-top: 0;
}

@keyframes slideInFromTop {
  0% {
    background-color: #fefefe00;
    transform: translate(-50%, -300%);
  }
  100% {
    background-color: #fefefe98;
    transform: translate(-50%, -80%);
  }
}

.image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 44%;
  left: 50%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  height: 45%;
  width: 100%;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-name: slideInFromTop;
}

.react-typewriter-text,
.react-typewriter-pointer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta-btn {
  background-color: #64d345ac; /* Green */
  color: white;
  padding: 15px 30px; /* Increased padding for a bigger button */
  border: none;
  border-radius: 25px; /* Increased border-radius for a rounded button */
  cursor: pointer;
  font-size: 18px; /* Increased font size */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 6rem;
  display: inline-block; /* Added to ensure the button width adjusts according to content */
  position: relative; /* Added for pseudo-element */
  overflow: hidden; /* Added for pseudo-element */
}

.cta-btn:hover {
  background-color: #45a049; /* Darker green */
  transform: translateY(-2px); /* Move button slightly upwards */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow effect */
}

#welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sprout-view {
  margin-left: 1vw;
}

.choice {
  color: black;
  font-size: large;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; /* Align items vertically */
}

.plant-section {
  margin-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.icon {
  margin-top: 1 px; /* Adjust the margin-top value as needed */
}

.choice {
  margin-left: 10px; /* Add margin between the icon and text */
  font-size: 30px;
}

.image-text .intro-section h2 {
  font-size: 50px; /* Adjust the font size as needed */
}

.image-section p {
  font-size: 20px;
  color: rgb(85, 85, 85);
}

.vision-section {
  margin-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.vision-text {
  width: 50%;
  object-fit: cover;
  padding-top: 0;
  padding-bottom: 400px;
  background-color: #bfdb9d;
}

/* CTA BUTTON COOL */

.animated-button1 {
  background: linear-gradient(-30deg, #cbf6b4 50%, #E8F9DF 50%);
  padding: 20px 40px;
  margin: 12px;
  margin-top: 10vh;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #1c201b;
  border-radius: 5px;
  font-size: 20px;
  font-family: "VT323";
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #85ad85;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
  cursor: pointer;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#28ef28));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #28ef28);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#28ef28));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #28ef28);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#28ef28));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #28ef28);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #2cd926);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
/* Media Queries */

/* Adjustments for mobile devices */
@media only screen and (max-width: 768px) {
  .logo {
    text-align: center; /* Center the logo text */
    font-size: 18px; /* Decrease font size for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    margin-bottom: 10px; /* Increase margin bottom for better spacing */
  }

  .icon {
    height: 30px; /* Decrease icon size for smaller screens */
    width: 30px; /* Decrease icon size for smaller screens */
    padding-right: 5px; /* Adjust icon padding for smaller screens */
  }

  .image-section {
    height: auto; /* Adjust height to auto for smaller screens */
    padding-bottom: 8vh; /* Adjust padding bottom for smaller screens */
  }

  .frontimage {
    height: 75vh; /* Adjust height to auto for smaller screens */
  }

  .image-text {
    top: 55%; /* Adjust top position for smaller screens */
    height: 60%; /* Adjust height for smaller screens */
  }

  .react-typewriter-text {
    font-size: 24px; /* Decrease font size for smaller screens */
  }

  .cta-btn {
    font-size: 16px; /* Decrease font size for smaller screens */
    padding: 12px 24px; /* Adjust padding for smaller screens */
    margin-top: 4rem; /* Adjust margin top for smaller screens */
  }

  .plant-section {
    margin: 0 2rem; /* Adjust margin for smaller screens */
  }

  .choice {
    font-size: 24px; /* Decrease font size for smaller screens */
    margin-left: 0; /* Remove left margin for smaller screens */
    text-align: center; /* Center the choice text */
  }

  .icon {
    margin-top: 0; /* Remove top margin for smaller screens */
  }

  .image-text .intro-section h2 {
    font-size: 36px; /* Decrease font size for smaller screens */
  }

  .image-section p {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  /* plant name + image */
  .plant {
    padding-right: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
  }
}
