/* Healthy Styles */
.healthy-container {
  display: flex;
  flex-direction: column;
  background: #e8f9df;
}

.healthy-circle-container {
  position: relative;
  width: 45vh; /* Adjust the size of the circle */
  height: 45vh; /* Adjust the size of the circle */
  background-color: #94b291;
  border-radius: 50%; /* Ensures the container is a circle */
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  /* Add any other styling properties as needed */
  margin-bottom: 50px;
  margin-top: 50px;
}

.healthy-circle-container img {
  max-width: 60%; /* Ensures the image does not exceed the container */
  max-height: 60%; /* Ensures the image does not exceed the container */
}