/* Risky Styles */

.risky-container {
  display: flex;
  flex-direction: column;
  background: #fcf8cd;
}

.risky-circle-container {
  position: relative;
  width: 45vh; /* Adjust the size of the circle */
  height: 45vh; /* Adjust the size of the circle */
  background-color: #f6ea83;
  border-radius: 50%; /* Ensures the container is a circle */
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  /* Add any other styling properties as needed */
  margin-bottom: 50px;
  margin-top: 50px;
}

.risky-circle-container img {
  max-width: 85%; /* Ensures the image does not exceed the container */
  max-height: 85%; /* Ensures the image does not exceed the container */
}

@media only screen and (max-width: 768px) {

  



}