.page-container {
  text-align: center;
  margin-top: 25vh;
}

.timeline-state {
  text-align: center;
  color: orangered;
}

.timeline-section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.stages-container {
  display: flex;
  flex-direction: column;
}

.stages {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.image-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-evenly; /* Distribute items evenly */
}

.prev-next {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-next:hover {
  background-color: #45a049;
}

.timeline-bar {
  width: 80vw; /* Match the width of the parent container */
  height: 10px; /* Set the height of the timeline bar */
  background-color: transparent; /* Transparent background */
  border: none; /* Remove default border */
  outline: none; /* Remove default outline */
  appearance: none; /* Remove default styling (such as shadows) */
  margin-top: 10px; /* Adjust margin as needed */

  &::-webkit-slider-runnable-track {
    background-color: #4caf50; /* Green background color */
    height: 10px; /* Same height as the timeline bar */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove border */
  }

  /* Styling the thumb (handle) */
  &::-webkit-slider-thumb {
    appearance: none; /* Remove default styling */
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    background-color: #fff; /* White background */
    border: 2px solid #4caf50; /* Green border */
    border-radius: 50%; /* Circular shape */
    cursor: pointer; /* Cursor on hover */
    margin-top: -5px; /* Adjust position */
  }

  /* Styling for the ticks (steps) */
  &::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      #4caf50 0%,
      #4caf50 calc(25% - 1px),
      transparent calc(25% - 1px),
      transparent 25%,
      #4caf50 0%,
      #4caf50 calc(50% - 1px),
      transparent calc(50% - 1px),
      transparent 50%,
      #4caf50 0%,
      #4caf50 calc(75% - 1px),
      transparent calc(75% - 1px),
      transparent 75%,
      #4caf50 0%,
      #4caf50 calc(100% - 1px),
      transparent calc(100% - 1px)
    );
  }
}
