/* fonts.css */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=VT323&display=swap");

.toolContainer {
  background: inherit;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo .sprout-view {
  font-family: VT323;
  color: #000000;
}

.lolo {
  text-decoration: none; /* Remove default link underline */
  text-align: center;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logo .about-us {
  font-family: VT323;
  color: #000000;
  position: relative;
  top: 0px;
  font-size: 22px;
  margin-right: 2rem;
}
